<p id="notice"><%= notice %></p>

<h1>Comapnies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subdomain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comapnies.each do |comapny| %>
      <tr>
        <td><%= comapny.name %></td>
        <td><%= comapny.subdomain %></td>
        <td><%= link_to 'Show', comapny %></td>
        <td><%= link_to 'Edit', edit_comapny_path(comapny) %></td>
        <td><%= link_to 'Destroy', comapny, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comapny', new_comapny_path %>
